{% extends "base.html" %}
{% load static %}

{% block header %}
<style>
    body { background-color: #f0f0f0; }
</style>
<link href="https://unpkg.com/tabulator-tables@6.3.0/dist/css/tabulator_simple.min.css" rel="stylesheet">
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@6.3.0/dist/js/tabulator.min.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/luxon@2.3.1/build/global/luxon.min.js"></script>
{% endblock %}

{% block content %}

<div id="txn-table"></div>

<div class="mt-3 ms-1">
    {% csrf_token %}
    <input type="button" value="{{ confirm_btn_txt }}" onclick=confirmChanges() class="btn btn-primary">
    <input type="button" value="Cancel" onclick=cancelChanges() class="btn btn-secondary">
    {% if downloadable %}
    <a href="{{ page_url }}{% querystring getCsv="True" %}" class="btn btn-success" data-bs-toggle="tooltip" data-bs-title="Download transactions as CSV">
        <i class="bi bi-download"></i>
    </a>
    {% endif %}
</div>

{{ override_values|json_script:"options" }}
<script>
    pageUrl = "{{ page_url }}"
    rowSelectTitle = "{{ row_select_title }}"
</script>
<script type="text/javascript" src="{% static 'table.js' %}"></script>

{% endblock %}