{% extends "tabulator_base.html" %}

{% block content %}

<div id="txn-table"></div>

<form method="POST" class="mt-3 ms-1">
    {% csrf_token %}
    <input type="submit" name="save-upload" value="Upload Tansactions" class="btn btn-primary">
    <input type="submit" name="cancel-upload" value="Cancel" class="btn btn-secondary">
</form>

<script>
    var table = new Tabulator("#txn-table", {
        dependencies:{
            DateTime:luxon.DateTime,
        },
        height:"90vh",
        index: "idx",
        ajaxURL:"{% url "upload-preview" %}",
        ajaxParams:{ getdata: "True" },
        movableRows:false, 
        rowHeader:{formatter:"rowSelection", titleFormatter:"plaintext", title:"Ommit", hozAlign:"center", headerSort:false, resizable:false},
        selectableRowsRangeMode:"click",
        columns:[
            {title:"Date", field: "date", formatter:"datetime", formatterParams:{
                inputFormat:"iso",
                outputFormat:"yyyy-MM-dd",
                invalidPlaceholder:"(invalid date)",
                timezone:"America/Los_Angeles",
            }},
            {title:"Account", field: "accnt", sorter:"string"},
            {title:"Description", field: "desc", sorter:"string"},
            {title:"Category", field: "cat", sorter:"string"},
            {title:"Amount", field: "amnt", sorter:"number"},
        ],
    });
</script>

{% endblock %}