{% extends "tabulator_base.html" %}

{% block content %}

<table id="txn-table"> 
    <thead>
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        {% for row in table %}
        <tr>
            {% for element in row %}
            <td>{{ element }}</td>
            {% endfor %}
        </tr>  
        {% endfor %}
    </tbody>
</table>

<script>
    var table = new Tabulator("#txn-table", {
        dependencies:{
            DateTime:luxon.DateTime,
        },
        movableRows:false, 
        columns:[
            {title:"Date", formatter:"datetime", formatterParams:{
                inputFormat:"iso",
                outputFormat:"yyyy-MM-dd",
                invalidPlaceholder:"(invalid date)",
                timezone:"America/Los_Angeles",
            }},
            {title:"Description", sorter:"string"},
            {title:"Amount", sorter:"number"},
            {title:"Category", sorter:"string"},
        ],
    });
</script>

{% endblock %}