{% extends "tabulator_base.html" %}

{% block content %}

<div id="txn-table"></div>

<form method="POST">
    {% csrf_token %}
    <input type="submit" name="save-upload" value="Save Selected">
    <input type="submit" name="cancel-upload" value="Cancel">
</form>

<script>
    var table = new Tabulator("#txn-table", {
        dependencies:{
            DateTime:luxon.DateTime,
        },
        height:"90vh",
        ajaxURL:"{% url "upload" %}",
        ajaxParams:{ preview: "True" },
        movableRows:false, 
        rowHeader:{formatter:"rowSelection", titleFormatter:"rowSelection", hozAlign:"center", headerSort:false, resizable:false},
        columns:[
            {title:"Date", field: "date", formatter:"datetime", formatterParams:{
                inputFormat:"iso",
                outputFormat:"yyyy-MM-dd",
                invalidPlaceholder:"(invalid date)",
                timezone:"America/Los_Angeles",
            }},
            {title:"Account", field: "act", sorter:"string"},
            {title:"Description", field: "desc", sorter:"string"},
            {title:"Category", field: "cat", sorter:"string"},
            {title:"Amount", field: "amt", sorter:"number"},
        ],
    });
</script>

{% endblock %}